<a href="https://colab.research.google.com/github/yooni0305/Bootcamp_Projects/blob/main/Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
b='fistman study'
print(a)
print(b)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
fistman study
1

In [ ]:
print(a[3])
print(a[1:5:2])
print(a[:4])
print(a[4:])

4
[2, 4]
[1, 2, 3, 4]
[5, 6, 7, 8, 9]

In [ ]:
dic={1:'a',2:'b',3:"c",4:"d",5:"e"}
dic_2={'자':'쥐','축':'소','인':'호랑이'}
print(dic)
print(dic_2)
print(dic[4])
dic[6]='f'
print(dic)
dic_2[4]="내맘"
print(dic_2)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
{'자': '쥐', '축': '소', '인': '호랑이'}
d
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}
{'자': '쥐', '축': '소', '인': '호랑이', 4: '내맘'}

In [ ]:
num1=5
num2=7
print('첫번째 수: {}'.format(num1))
print('두번째 수: {}'.format(num2))

첫번째 수: 5
두번째 수: 7

In [ ]:
x = 5

if x == 2:
    print("x is indeed 2")
else:
    print ("x is not 2")

x is not 2

In [ ]:
x = 6
y = 5

if x > y:
    print ("x is higher than y")
else:
    print("x is lower or equal to y")

x is higher than y

In [ ]:
x = input("choose a number from 1-100 and hit Enter. ")

print(f"You have chosen the number : {x}")

choose a number from 1-100 and hit Enter. 3
You have chosen the number : 3

In [ ]:
for i in [1,2,3,4]:
    print (i%2==0)

False
True
False
True

In [ ]:
for i in range(5,50,3):
    print (i)

5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

In [ ]:
sum=0
print('10까지의 합을 구하시오')
for x in range(4):
    sum=sum+x
print (sum)

10까지의 합을 구하시오
6

In [ ]:
sum=0
my_sum=int(input('Up to which number should I calculate the sum? : '))
print('I will calculate the sum up to {}'.format(my_sum))
for x in range(my_sum+1):
    sum=sum+x
print (sum)

Up to which number should I calculate the sum? : 67
I will calculate the sum up to 67
2278

In [ ]:
for x in range(1,10):
    print('{}*{}={}'.format(2,x,2*x))

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [ ]:
num=int(input('숫자를 입력하세요 : '))
if num%2==0:
    print ('입력한 숫자{}은 짝수'.format(num))
else:
    print ("입력한 숫자 {}은 홀수".format(num))

숫자를 입력하세요 : 5
입력한 숫자 5은 홀수

In [ ]:
import random
com=random.randint(1,10)
my=int(input("1부터 10까지 어떤 수가 나올까요? :"))
if com>my:
    print('그보다 큰 수 입니다')
elif com < my:
    print ('그보다 작은 수 입니다')
else:
    print ('맞췄습니다.!')

1부터 10까지 어떤 수가 나올까요? :3
그보다 큰 수 입니다

In [ ]:
import random
com=random.randint(1,10)
while True:
    my=int(input("1부터 10까지 어떤 수가 나올까요? :"))
    if com>my:
        print('그보다 큰 수 입니다')
    elif com < my:
        print ('그보다 작은 수 입니다')
    else:
        print ('맞췄습니다.!')
        break

1부터 10까지 어떤 수가 나올까요? :5
그보다 큰 수 입니다
1부터 10까지 어떤 수가 나올까요? :3
그보다 큰 수 입니다
1부터 10까지 어떤 수가 나올까요? :4
그보다 큰 수 입니다
1부터 10까지 어떤 수가 나올까요? :7
그보다 큰 수 입니다
1부터 10까지 어떤 수가 나올까요? :8
맞췄습니다.!

In [ ]:
first_num=int(input('어디서부터 출력할까요?'))
my_num=int(input('어디까지 출력할까요?'))
while first_num<=my_num:
    print(first_num)
    first_num=first_num+1

어디서부터 출력할까요?3
어디까지 출력할까요?10
3
4
5
6
7
8
9
10

Repeat entered number x, n times

In [ ]:
num=1
x=int(input("숫자를 입력하세요 : "))
n=int(input("몇번 반복할까요? "))
while num<=n:
      print(x)
      num=num+1

숫자를 입력하세요 : 6
몇번 반복할까요? 6
6
6
6
6
6
6

In [ ]:
num=1
x=input("문자를 입력하세요 : ")
n=int(input("몇번 반복할까요? "))
while num<=n:
      print(x)
      num=num+1

문자를 입력하세요 : Mouau
몇번 반복할까요? 3
Mouau
Mouau
Mouau

In [ ]:
animal =['뚱이','깜이','이찌','토리','떠유니']
나이 = [10,3,1,5,7]
질문= input("당신의 강아지이름은 무엇인가요? :")
if 질문 in animal:
    index=animal.index(질문)
    age=나이[index]
    print(f"우리집 강아지의 이름은 {질문}이고, 나이는 {age}입니다.사랑스러워요")
else:
    print("해당 이름의 강아지는 없습니다. 다시 확인해주세요")

당신의 강아지이름은 무엇인가요? :토리
우리집 강아지의 이름은 토리이고, 나이는 5입니다.사랑스러워요

In [ ]:


station =["사당","을지로"]
print(f"{station} 행 열차가 들어오고 있습니다.")

['사당', '을지로'] 행 열차가 들어오고 있습니다.

In [ ]:
print(5)
print(-10)
print("ㅋ"*8)
print(5 > 10)
print(True)
print(False)
print(not 5 >10)
#애완동물을 소개해주세요
print("우리집 강아지 이름은 연탄이에요")
print("연탄이는 ")

SyntaxError: unmatched ')' (<ipython-input-13-309674fe620d>, line 7)